
#section-1 {
    background-position: top;
    background-size: cover;
    font-family: 'Old Standard TT', serif;

    color:white;
}

#section-2 {
    background-color: #A68358;

}

#section-3 {
    background-color: #A67563;
    padding-top: 35px;
    font-size: 2vh;
}
#section-4 {
    background-color: #BFAD54;
}
#section-5 {
    background-color: #D9BBA9;
    padding-top: 35px;

}
#navbarNav
{
    font-family: 'Quattrocento', serif;
   font-size: 3vh;

}
#front-page-text
{
    font-size: 5vh;
}
#gallery
{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: white;
}
.main-header
{
    font-family: 'Old Standard TT', serif;
}
.events
{
    font-size: 4vh;
    color: white;
}
.description
{
    font-family: 'Quattrocento', serif;
}
.menus
{
    font-size: 3vh;
}
.carousel-item {
    height: 70vh;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-align: center;
}
.map-and-phone
{
    padding-left: 10px;
}
#joke {
    flex: 13 1 auto;
    padding: 6rem 1rem;
    background-color: #292b2c;
    color: white;
    font-size:2vw;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.caption2 {
    position: absolute;
    top: 45%;
    right: 0;
    width: 100%;
}


