
#section-1 {
    background-position: top;
    background-size: cover;
    font-family: 'Old Standard TT', serif;
    color:white;
}

#section-2 {


}

#section-3 {
    background-color: #A67563;
    padding-top: 3vw;
    font-size: 2vw;
}
#section-4 {
    background-color: #A68358;
}
#section-5 {
    background-color: #D9BBA9;
    padding-top: 6vh;
;

}
#navbarNav
{
    font-family: 'Quattrocento', serif;
   font-size: 3vh;

}
#front-page-text
{
    font-size: 5vh;
}
#gallery
{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: white;
}
.main-header
{
    font-family: 'Old Standard TT', serif;
    font-size: 3vh ;

}
.events
{
    font-size: 3vh;
    color: white;
}
.description
{
    font-family: 'Quattrocento', serif;
    font-size: 2vh;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    text-align: center;
}
.map-and-phone
{
    padding-left: 6vw ;
}
.joke {
    flex: 13 1 auto;
    padding: 6rem 1rem;
    background-color: #292b2c;
    color: white;
    font-size:2vw;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-repeat: no-repeat; background-size: cover;
}
.caption2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
}


.carousel-inner {
    height: 100vh;

}

.carousel-item  {
    height: 100%;
}

.img1 {

    height: 100%;
    width: 100%;

}
